.descriptif_weather .weather_week {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .descriptif_weather .weather_week {
        max-width: 400px;
    }
}

@media (min-width: 992px) {
    .descriptif_weather .weather_week {
        grid-template-columns: repeat(3, 1fr);
        gap: 26px;
    }
}

@media (min-width: 1200px) {
    .descriptif_weather .weather_week {
        grid-template-columns: repeat(5, 1fr);
        gap: 26px;
    }
}
