.modal {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-dark);
    z-index: 100;
    min-height: 100vh;
    width: 100%;
    padding: 17px 13px;
}

.modal.hide {
    display: none;
}

@media (min-width: 768px) {
    .modal {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .modal {
        width: 30%;
    }
}

.modal .close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.modal .close > button {
    background: transparent;
    color: var(--color-light);
}

.modal .form_search {
    display: grid;
    grid-template-columns: calc(80% - 13px) 20%;
    gap: 12px;
}

@media (max-width: 576px) {
    .modal .form_search {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 768px) {
    .modal .form_search {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 992px) {
    .modal .form_search {
        grid-template-columns: calc(70% - 13px) 30%;
    }
}

.modal > .form_search input {
    width: 100%;
    background: transparent;
    padding: 15px;
    color: var(--color-light);
    border: 1px solid var(--color-light);
    box-shadow: none;
}

::placeholder {
    font-weight: 500;
    color: var(--color-gray-200);
}

.modal .form_search .btn_form_search {
    width: 100%;
    background: var(--color-primary);
    color: var(--color-light);
    font-weight: 600;
    padding: 15.5px 19px;
}

.modal .error_message {
    color: var(--color-danger);
    font-weight: 700;
    margin-top: 0.8rem;
    line-height: 1.2;
}

.modal > .choices_list {
    margin-top: 38px;
}

.modal > .choices_list button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
    color: var(--color-light);
    font-weight: 500;
    text-align: left;
    margin-bottom: 28px;
    padding: 23px 12px;
    border: 1px solid var(--color-dark);
}

.modal > .choices_list button:hover {
    border-color: var(--color-gray-200);
}

.modal > .choices_list button > span {
    color: var(--color-dark);
}

.modal > .choices_list button:hover > span {
    color: var(--color-gray-200);
}
