.modal {
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color-dark);
    z-index: 100;
    height: 100vh;
    width: 100%;
    padding: 17px 13px;
}

.modal.hide {
    display: none;
}

@media (min-width: 768px) {
    .modal {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .modal {
        width: 30%;
    }
}

.modal .close {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.modal .close > button {
    background: transparent;
    color: var(--color-light);
}

.modal .form_search {
    display: flex;
}

.modal .form_search .form-group {
    display: flex;
    width: calc(70% - 6px);
}

.modal .form_search .form-button {
    display: flex;
    justify-content: flex-end;
    width: calc(30% - 6px);
    margin-left: 12px;
}

.modal > .form_search input {
    width: 100%;
    background: transparent;
    padding: 15px;
    color: var(--color-light);
    border: 1px solid var(--color-light);
    box-shadow: none;
}

::placeholder {
    font-weight: 500;
    color: var(--color-gray-200);
}

.modal .form_search .btn_form_search {
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-light);
    font-weight: 600;
    padding: 14px 19px;
}

.modal .error_message {
    color: var(--color-danger);
    font-weight: 700;
    margin-top: 0.8rem;
}

.modal > .choices_list {
    margin-top: 38px;
}

.modal > .choices_list button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: transparent;
    color: var(--color-light);
    font-weight: 500;
    text-align: left;
    margin-bottom: 28px;
    padding: 23px 12px;
    border: 1px solid var(--color-dark);
}

.modal > .choices_list button:hover {
    border-color: var(--color-gray-200);
}

.modal > .choices_list button > span {
    color: var(--color-dark);
}

.modal > .choices_list button:hover > span {
    color: var(--color-gray-200);
}
