@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Raleway:wght@300;500;600&display=swap');

/* ====================
    VARIABLES
==================== */
:root {
    --gutter: 24px;

    --color-light: #e7e7eb;
    --color-dark: #1e213a;
    --color-gray-100: #88869d;
    --color-gray-200: #616475;
    --color-gray-300: #a09fb1;
    --color-bg: #100e1d;
    --color-primary: #3c47e9;
    --color-danger: #eb6b6b;
    --color-default: #737a6e;

    --font-family-primary: 'Raleway', sans-serif;
    --font-family-secondary: 'Montserrat', sans-serif;
}

/* ====================
    APP
==================== */
.App {
    background: var(--color-bg);
    color: var(--color-light);
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.App.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
}

@media (min-width: 768px) {
    .App.grid {
        grid-template-columns: 40% 60%;
    }
}

@media (min-width: 1200px) {
    .App.grid {
        grid-template-columns: 30% 70%;
    }
}

/* ====================
    CONTAINER
==================== */
.container {
    position: relative;
    width: 100%;
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.today_weather .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.descriptif_weather .container {
    padding-top: 52px;
    padding-bottom: 24px;
}

@media (max-width: 768px) {
    .today_weather,
    .today_weather .container {
        min-height: 100vh;
    }
}

@media (min-width: 768px) {
    .today_weather .container,
    .descriptif_weather .container {
        padding-top: 42px;
        max-width: 904px;
        min-height: 100vh;
    }

    .today_weather .container {
        position: fixed;
        width: 40%;
        padding-bottom: 52px;
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    .today_weather .container {
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) and (orientation: landscape) {
    .today_weather .container {
        position: absolute;
        width: 100%;
    }
}
