.footer {
    bottom: 0;
    height: 100%;
    margin-top: 95px;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 113px;
    }
}

.footer p {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
    color: var(--color-gray-300);
}

.footer p a {
    color: var(--color-gray-300);
    font-weight: 700;
}
